<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div ng-show="showMain">
        <h2> Password Section </h2>
        <hr/>
            <h4> Enter New Password </h4>
            <form ng-submit="changePassword()">
                <input type="password" ng-model="newPassword" required/> <br/><br/>
        
                <h4> Confirm Password </h4>
                <input type="password" ng-model="confirmPassword" ng-change="passwordEquality()" required/> <br/>
        
                <span style="color:red" ng-show="IsMatch" class="help-block">
                        Your password must match !
                    </span> <br/>
                <input class="btn btn-primary" type="submit" value="Change" />
            </form>
            <span style="color:green" ng-show="passwordChanged"> {{passwordStatus}} </span>
    </div>
    <div ng-show="showError">
        <h2> Sorry, page can't be accessed </h2>
    </div>
</body>
</html>