<h2>Login</h2>
<hr/>
  <div class="container">
    <div class="panel-body">
        <div class="row">
        <div class="col-lg-6">
            <form novalidate id="login-form" name="loginForm" ng-submit="Login()" method="post" role="form" style="display: block;">
                <div class="form-group">                                      
                        <input type="text" name="username" id="username" ng-model="ClientId" ng-pattern="regexUsername" ng-focus="showLoginMessage=false" tabindex="1" class="form-control" placeholder="Username" value="" required>                                                                     
                        <span style="color:red" ng-show="loginForm.username.$error.pattern" class="help-block">
                            Please Enter Valid User Name.!
                        </span>                                       
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" ng-model="Password" ng-pattern="regexUsername" ng-focus="showLoginMessage=false" tabindex="2" class="form-control" placeholder="Password" required>
                        <span style="color:red" ng-show="loginForm.password.$error.pattern" class="help-block">
                            Password doesn't meet the criteria !
                        </span>
                    </div>
                    <div class="form-group text-center">
                        <input type="checkbox" tabindex="3" class="" ng-model="loginAsVendor" name="loginAs" id="loginAs">
                        <label for="login-as"> Login as Vendor </label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Log In" />    
                                <span ng-show="showLoginMessage" class="help-block">
                                    {{loginMessage}}
                                </span>
                                <!-- {{message}} -->
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>