<div class="container col-md-12">
    <h2>Snacks</h2>
    <hr />
    <input type="hidden" id="x" value="Snacks" />
    <div class="cards" ng-repeat="eachProduct in responseCategory ">
            <center>
                <div>
                    <h3> {{eachProduct.Name}} </h3>
                    <img src={{eachProduct.Image}} width="150" height="100"/> <br/><br/>
                    <span ng-if="eachProduct.Quantity == 0" style="color:red; font-size:1"> Product out of stock !! <br/> </span>
                    <span> <b>Category:</b> {{eachProduct.Category}} </span> <br/>
                    <span ng-if="Product.Offer == true"><b> Offers: </b>Offers Available</span>
                    <span ng-if="Product.Offer != true"><b> Offers: </b>No Offers</span>
                    <h4> Price: </h4>
                    <h4> INR: {{eachProduct.Price}} </h4> <br/>
                    <button class="btn btn-primary" value="{{eachProduct.ProductId}}" ng-model="id" ng-click="AddToCart($event)" ng-hide="disableCart || eachProduct.Quantity == 0">AddToCart</button>
                </div>
            </center>
    </div>
</div>

<style>
    .cards{
      width: 21%;
      height: 350px;
      float: left;
      padding-bottom: 15px;
      margin: 20px;
      align-content: center;
      border: 2px solid grey;
      background-color: lightcyan;
      }
</style>